@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('./background.svg');
    background-position: center;
    background-size: cover;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    width: 55%;
    height: 98%;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 5px 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #0000003a;
}

.form_title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    background-color: #0b6dbe;
    color: #fff;
}

.form-title {
    font-size: 3em;
    font-weight: 700;
}

.form-subtitle {
    font-size: 1.2em;
    font-weight: 400;
    color: #ffffffc0;
}

.form-input-title-container {
    width: 100%;
    padding: 0px 8px 0px 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-input-title {
    font-size: 2.1em;
    text-wrap: nowrap;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.form_content-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
    padding: 0px 8px 0px 8px;
    overflow-y: auto;
}

.form-input-flex-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input-flex-control > label {
    font-size: 1.3em;
    font-weight: 600;
}

.form-input-flex-control > input, select {
    font-size: 1.3em;
    font-weight: 400;
    border: 1px solid #8080807c;
    border-radius: 3px;
    padding: 5px;
}

.form-input-flex-control > input:focus, select:focus {
    outline: none;
    border: 1px solid #0b6dbe;
}

.form_content-fieldset-container {
    width: 100%;
    padding: 0px 8px 0px 8px;
    overflow-y: auto;
}

.form_content-fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    gap: 8px;
    padding-bottom: 10px;
}

.form_content-fieldset > legend {
    font-size: 2.1em;
    font-weight: 700;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.form_content-button-container {
    width: 100%;
    grid-column: 1/3;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.main-btn {
    width: 35%;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.main-btn:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
}

.main-btn.-submit {
    background-color: #0b6dbe;
    color: #fff;
}

.main-btn.-back {
    background-color: #f81b1b;
    color: #fff;
}